@page "/peliculas/crear"
@inject IRepositorio repositorio
@inject NavigationManager navigationManager
@inject IMostrarMensajes mostrarMensajes

<h3>CrearPeliculas</h3>


@if (MostrarFormulario)
{
    <FormularioPeliculas Pelicula="Pelicula" OnValidSubmit="Crear"
                         GenerosNoSeleccionados="GenerosNoSeleccionados"></FormularioPeliculas>
}
else
{
    <text>Cargando...</text>
}

@code {

    //Bandera que permite mostrar formulario si no se han cargado los registros
    private bool MostrarFormulario { get; set; } = false;
    private Pelicula Pelicula = new Pelicula();
    private List<Genero> GenerosNoSeleccionados = new List<Genero>();

    protected async override void OnInitialized()
    {
        //var responseHttp = await repositorio.Get<List<Genero>>("api/generos");
        //GenerosNoSeleccionados = responseHttp.Response;
        MostrarFormulario = true;
    }

    private async Task Crear()
    {

        var httpResponse = await repositorio.Post<Pelicula, int>("api/peliculas", Pelicula);
        

        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.GetBody();
            await mostrarMensajes.MostrarMensajeError(mensajeError);
        }
        else
        {
            var PeliculaId = httpResponse.Response;
            navigationManager.NavigateTo($"/pelicula/{PeliculaId}/{Pelicula.Titulo.Replace(" ", "-")}");
        }

    }

}
